@font-face {
    font-family: 'Montserrat_Black';
    src: url('./Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat_Light';
    src: url('./Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat_Medium';
    src: url('./Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat_Regular';
    src: url('./Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat_SemiBold';
    src: url('./Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'NotoSans_SemiBold';
    src: url('./NotoSans-SemiBold.ttf');
}

@font-face {
    font-family: 'NotoSansKR_Medium';
    src: url('./NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'NotoSansKR_Regular';
    src: url('./NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'PatrickHand-Regular';
    src: url(./PatrickHand-Regular.ttf);
}

@font-face {
    font-family: 'Bazzi';
    src: url(./Bazzi.otf);
}