@font-face {
    font-family: "Montserrat_Black";
    src: url("./Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat_Light";
    src: url("./Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat_Medium";
    src: url("./Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat_Regular";
    src: url("./Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat_SemiBold";
    src: url("./Montserrat-SemiBold.ttf");
}